Repository FurryGamesIndex/games, pull requests merged in 2021-01, with the labels that each got.

#65 Escape & The Twin
  assets/Escape/thumbnail.jpg
  assets/The_Twin/thumbnail.jpg
  games/Escape.yaml
  games/The_Twin.yaml
  games/l10n/zh-cn/Escape.yaml
  games/l10n/zh-cn/The_Twin.yaml
  tags.yaml
Labels: new-games, tags

#66 Dragon Island & Selfcropping & Apoto5
  assets/Dragon_Island/thumbnail.jpg
  assets/_avatar/APOTO5.jpg
  assets/_avatar/Studio_Selfcropping.jpg
  authors/APOTO5.yaml
  authors/Studio_SelfCropping.yaml
  games/Dragon_Island.yaml
  games/Romans_Christmas.yaml
  games/l10n/zh-cn/Dragon_Island.yaml
Labels: new-authors, new-games

#67 add Tanuki Sunset
  assets/Tanuki_Sunset/thumbnail.jpg
  assets/_avatar/Rewind_Games.jpg
  authors/Rewind_Games.yaml
  doc/tags.en.md
  doc/tags.zh-cn.md
  doc/tags.zh-tw.md
  games/Tanuki_Sunset.yaml
  tags.yaml
Labels: new-games
